*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
}

#container{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background: linear-gradient(rgba(196, 0, 196, 0.807),rgb(235, 15, 255)) ;
    overflow: hidden;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 25px rgb(0, 0, 0);
}

#containerTop{
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(196, 0, 196, 0.807),rgb(235, 15, 255)) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    color: white;
    border-radius: 7px 7px 0px 0px;
    border: 5px solid black;
}

.elem{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.box{
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
    color: black;
    border: 2px solid black;
}

.elem h3{
    padding: 8px;
    font-weight: 600;
}

#btmcontainer{
    width: 100%;
    height: calc(100% - 100px);
    background-color: black;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    gap: 10px;
    color: rgba(222, 55, 255, 0.993);
    padding: 10px 0px 5px 25px;
}

.bubble{
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    color: aliceblue;
    border-radius: 50%;
    background-color: hsla(291, 100%, 64%, 0.879);
    font-size: 20px;
}

.bubble:hover{
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    color: black;
}